.Accordion {
  overflow: hidden;

  background-color: var(--color-surface);

  &[open] .icon {
    transform: scale(1, -1);
  }
}

.summaryWrap {
  padding: rem(15) rem(20);
  display: flex;
  align-items: center;
  column-gap: rem(20);
  cursor: pointer;

  list-style-type: none; // это работает
  &::-webkit-details-marker {
    display: none; // у меня это не срабатывало
  }
}

.summary {
  flex-grow: 1;
  font-weight: 590;
  font-size: rem(20);
  line-height: 125%;
  letter-spacing: -0.02em;
  color: var(--color-text-secondary);
}

.icon {
  transition: transform 0.3s ease;
}

.content {
  padding: rem(15);
  font-size: rem(17);
  line-height: 129%;
  letter-spacing: -0.03em;
}
