.GamesPanel {
  display: grid;
}

.create {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.view {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--color-surface);
}
