.button {
  display: inline-block;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  transition: filter 0.3s ease;
  text-align: center;

  &:is(.background, .outline) {
    padding: rem(16) rem(20);
    line-height: 1.27;
    font-size: rem(22);
    font-weight: 700;
    letter-spacing: -0.01em;
  }

  &:hover {
    filter: brightness(0.8); // Затемнение на 20%
  }

  &:active {
    filter: brightness(0.7); // Еще большее затемнение
  }
}

.background {
  border: none;
  background-color: var(--color-button);
  color: var(--color-button-text);
}

.outline {
  border: rem(4) solid var(--color-button);
  background-color: transparent;
  color: var(--color-button);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconOutline {
  display: inline-flex;
  align-items: center;
  column-gap: rem(3);
  padding: rem(15) rem(13);
  border: rem(3) solid #a7a7a7;
  font-weight: 590;
  line-height: 1.31;
  letter-spacing: -0.02em;
  color: var(--color-icon);
}

.iconClear {
  padding: rem(15) rem(8);
  display: inline-flex;
  align-items: center;
  column-gap: rem(10);
  text-transform: none;
  font-size: rem(20);
  line-height: 125%;
  letter-spacing: -0.02em;

  .icon {
    min-width: rem(36);
  }
}
