.userName {
  text-align: center;
}
.role {
  font-size: rem(22);
  line-height: 1.27;
  letter-spacing: -0.01em;
}
.fullName {
  font-weight: 700;
  font-size: rem(28);
  line-height: 1.21;
  letter-spacing: 0.01em;
}
