:root {
  --color-background: #e5e5e5;
  --color-surface: #fff;
  --color-main-text: #000;
  --color-header: #7f7f7f;
  --color-icon: #a7a7a7;
  --color-icon-acive: #00cf00;
  --color-bg-img: #d9d9d9;
  --color-text-secondary: #434343;

  // button
  --color-button: #9500ff;
  --color-button-text: #fff;

  // badge
  --color-badge-bg: #d0d0d0;

  // bullet
  --color-bullet-primary: #00cf00;
  --color-bullet-secondary: #ffa100;
  --color-bullet-tertiary: #a7a7a7;
}
