.Surface {
  border-radius: rem(25);
  background-color: var(--color-surface);
}

.list {
  padding: rem(5) rem(15);

  & > *:not(:last-child) {
    border-bottom: rem(1) solid rgba(0, 0, 0, 0.2);
  }
}
