@font-face {
  font-family: 'sfProFont';
  src: url('/fonts/SF-Pro/SFProDisplay-Regular.woff') format('woff'),
    url('/fonts/SF-Pro/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sfProFont';
  src: url('/fonts/SF-Pro/SFProDisplay-Bold.woff') format('woff'),
    url('/fonts/SF-Pro/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sfProFont';
  src: url('/fonts/SF-Pro/SFProDisplay-Semibold.woff') format('woff'),
    url('/fonts/SF-Pro/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'sfProFont', sans-serif;
}
