@use 'sass:math';
@use '../variables/variables' as *;
@use '../tools/functions' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

html,
body {
  height: 100%;
  min-width: #{$minWidth}px;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

a {
  color: inherit;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

label {
  cursor: pointer;
}
